<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info">
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
                <PatternLayout
                        pattern="%d{yyyy-MM-dd HH:mm:ss} %-5level %c:%L - %msg%n" />
        </Console>
        <File name="file" fileName="logs/app.log">
            <PatternLayout>
                <Pattern>%d %p %c:%L %m%n</Pattern>
            </PatternLayout>
        </File>
    </Appenders>
    <Loggers>
        <Logger name="mate.academy" level="info" additivity="false">
            <AppenderRef ref="console"/>
            <AppenderRef ref="file"/>
        </Logger>
        <Root level="error" >
            <AppenderRef ref="console"/>
            <AppenderRef ref="file"/>
        </Root>
    </Loggers>
</Configuration>