<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
        <File name = "gitignore" fileName = ".gitignore">
            <PatternLyout>
                <Pattern>%d %p %c %m%n</Pattern>
            </PatternLyout>
        </File>
    </Appenders>
    <Loggers>
        <Logger name="mate.academy" level="info" additivity = "false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="gitignore"/>
        </Logger>
        <Root level="error">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="gitignore"/>
        </Root>
    </Loggers>
</Configuration>